$primary-color: #1bb1ecee;
$secondary-color: #0fbea7;
$notification-bg: #d43;


body{
    // border:3px solid black;

}

*{
    box-sizing: border-box;
    max-width: 100%;
    max-height:fit-content;
}
.notification-icon {
  margin:30px;
  height:auto;
  background-color: #2e2be2;
  color:whitesmoke;
  font-weight: 800;
  border-radius: 14px;
  padding:3%;
  font-size: 35px;

}




@font-face {
    font-family: 'PlusJakartaSans-Variable';
    src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.no-button{
    background-color: white;
    border:none;
    font-weight: 100;
    color:slategray;
    cursor: pointer;
}

.no-button:hover{
    color:slateblue;
    font-weight:500;
}

h1{
    font-family:'PlusJakartaSans-Variable';
    font-size:40px;
    margin-left:20px;
    font-weight: bold;
    letter-spacing: .01in;
    
}




.header-wrapper{
        display:inline-flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;


@media (max-width: 600px){

        flex-direction:row;

        h1{
            text-align: start;
        }



        p{
            text-align:center;
        }


}}
button{
    font-size:25px;
}